# folder
.vscode/
proj/
script/
netlist/
# files
# folder
.vscode/
proj/
script/
netlist/
icarus/
# files
# folder
.vscode/
proj/
script/
netlist/
icarus/
# files
# folder
.vscode/
proj/
script/
netlist/
icarus/
# files
